body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-section{
    width: 600px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 20px;
}

.form-heading{
    text-align: center;
    color: green;
}

.form-subheading{
    text-align: center;
    background-color: rgb(228, 245, 228);
    padding: 20px;
}

.fullname-section{
    display: flex;
    justify-content: space-between;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 48%;
}

.form-group label{
    margin-bottom: 7px;
    font-weight: bold;
}

.form-group input{
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
}

.form-group input::placeholder{
    color: #999;
}

.form-group input:focus{
    border-color: green;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}

.form-group.email, .form-group.company, .form-group.physical-address{
    width: 100%;
    margin-top: 15px;
}

.form-group.date-of-birth{
    margin-top: 15px;
    width: 100%;
}

.form-group .calendar{
    display: flex;
    gap: 10px;
}


.bi.bi-calendar-event{
    font-size: 1.5rem;
    color: green;
    margin-right: 10px;
    margin-top: 7px;
}